%h1 New Wiki

= form_for @wiki do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, rows: 10, class: 'form-control'
  = if policy @wiki
    .form-group
      = f.label :private, class: 'checkbox' do
        = f.check_box :private, value: true
        Private wiki
  .form-group
    = f.submit "Save", class: 'btn btn-success'
